@tailwind base;
@tailwind components;
@tailwind utilities;

/* References */
/* Modal Animation is done through CSS and the code was gathered from this site => https://reactcommunity.org/react-modal/styles/transitions/ */
html,
body {
  height: 100%;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
